<section class="bg-white dark:bg-gray-950 text-black dark:text-white py-16 transition-colors duration-300">
    <div class="max-w-lg mx-auto text-center">
      <h2 class="text-2xl font-bold mb-4">Mantente Informado</h2>
      <form class="flex flex-col space-y-4">
        <input 
          type="email" 
          placeholder="Tu correo electrónico" 
          class="w-full px-4 py-2 rounded-lg bg-gray-200 dark:bg-gray-900 text-black dark:text-white border border-gray-300 dark:border-gray-700 focus:ring-2 focus:ring-red-500 outline-none transition-colors duration-300"
          required
        />
        <button 
          type="submit" 
          class="bg-yellow-400 hover:bg-yellow-600 dark:bg-red-600 dark:hover:bg-red-700 text-white font-semibold py-2 rounded-lg transition pointer w-auto mx-20">
          Suscribirse
        </button>
      </form>
    </div>
  </section>
  